@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Amiri Quran';
    src: url("./assets/fonts/Amiri-Quran.woff2");
  }
}
@layer base {
  @font-face {
    font-family: 'Aftika Light';
    src: url("./assets/fonts/Aftika-Light.woff2");
  }
}
body {
  margin: 0;
  background: black;
}